<div *ngIf="mode == formMode.table">
    <h1 id="tableLabel">Permissions for user</h1>

    <p *ngIf="!userPermissions"><em>Loading...</em></p>

    <div class="mb-3 dls-menu-item" style="float: right;">
        <button (click)="onAdd()" type="button" class="btn btn-outline-success"><i class="bi bi-person-plus"></i>
            Add new permissions for user</button>
    </div>

    <div class="form-group col-md-4" style="float: left;">
      <input (keydown.enter)="searchMethod()" type="text" class="form-control" [(ngModel)]="search" name="search" placeholder="Type text and press enter" />
    </div>

    <table class='table table-bordered' aria-labelledby="tableLabel" *ngIf="userPermissions">
        <thead>
            <tr>
                <th (click)="sortNumber('id')"><i class="ml-1 bi bi-arrow-down-up"></i>  Id</th>
                <th (click)="sortString('code')"><i class="ml-1 bi bi-arrow-down-up"></i>  Code</th>
                <th (click)="sortString('description')"><i class="ml-1 bi bi-arrow-down-up"></i>  Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userPermission of userPermissions | paginate: {
                                                                            itemsPerPage: pagination.pageSize,
                                                                            currentPage: pagination.page,
                                                                            totalItems: pagination.count
                                                                          }; let i = index">
                <td>{{ userPermission.id }}</td>
                <td>{{ userPermission.permission.code }}</td>
                <td>{{ userPermission.permission.description}}</td>
                <td>
                    <button (click)="onEdit(userPermission)" type="button" class="ml-1 btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Edit</button>
                    <button (click)="onDelete(userPermission,mymodal)" type="button" class="ml-1 btn btn-outline-danger"><i class="bi bi-trash"></i>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
      <div class="col-md-6">
        <pagination-controls
                             previousLabel="Prev"
                             nextLabel="Next"
                             (pageChange)="onPageChange($event)">

        </pagination-controls>
      </div>
      <div class="col-md-4">
        Items per page: 
        <select (change)="onPageSizeChange($event)">
          <option *ngFor="let size of pagination.pageSizes" [ngValue]="size">
              {{ size }}
          </option>
        </select>
      </div>
    </div> 
</div>

<div id="comp-render" *ngIf="mode == formMode.create">
    <app-detail-user-permission [mode]="mode" [userPermission]="userPermissionForAdd" (onChangeMode)="changeMode($event)"></app-detail-user-permission>
  </div>
  
  <div id="comp-render" *ngIf="mode == formMode.edit">
    <app-detail-user-permission [mode]="mode" [userPermission]="userPermissionForEdit" (onChangeMode)="changeMode($event)"></app-detail-user-permission>
  </div>
     
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
