<div *ngIf="mode == formMode.table">
    <h1 id="tableLabel">Users</h1>
  
    <p *ngIf="!users"><em>Loading...</em></p>
  
    <div class="mb-3 dls-menu-item" style="float: right;">
      <button (click)="onAdd()" type="button" class="btn btn-outline-success"><i class="bi bi-person-plus"></i>
        Add new user</button>
    </div>
  
    <table class='table table-bordered' aria-labelledby="tableLabel" *ngIf="users">
      <thead>
        <tr>
          <th>Id</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | paginate: {
                                                      itemsPerPage: pagination.pageSize,
                                                      currentPage: pagination.page,
                                                      totalItems: pagination.count
                                                  }; let i = index">
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.status }}</td>
          <td>
            <button (click)="onAssign(user)" type="button" class="ml-1 btn btn-outline-success"><i class="bi bi-clipboard-plus"></i>Assign</button> 
            <button (click)="onView(user)" type="button" class="btn btn-outline-info"><i class="bi bi-eye"></i>View</button>
            <button (click)="onEdit(user)" type="button"  class="ml-1 btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Edit</button>
            <button (click)="onDelete(user,mymodal)" type="button" class="ml-1 btn btn-outline-danger"><i class="bi bi-trash"></i>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>  
    <div class="row">
      <div class="col-md-6">
        <pagination-controls
                             previousLabel="Prev"
                             nextLabel="Next"
                             (pageChange)="onPageChange($event)">

        </pagination-controls>
      </div>
      <div class="col-md-4">
        Items per page: 
        <select (change)="onPageSizeChange($event)">
          <option *ngFor="let size of pagination.pageSizes" [ngValue]="size">
              {{ size }}
          </option>
        </select>
      </div>
    </div>
  </div>

  
  <div id="comp-render" *ngIf="mode == formMode.create">
    <app-detail-user [mode]="mode" (onChangeMode)="changeMode($event)"></app-detail-user>
  </div>
  
  <div id="comp-render" *ngIf="mode == formMode.edit">
    <app-detail-user [mode]="mode" [user]="userForEdit" (onChangeMode)="changeMode($event)"></app-detail-user>
  </div>
  
  <div id="comp-render" *ngIf="mode == formMode.view">
    <app-detail-user [mode]="mode" [modeForAssign]="modeForAssign" [user]="userForView" (onChangeMode)="changeMode($event)"></app-detail-user>
  </div>
     
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>