<div class="container mt-5">
    <h2> {{title}}</h2>


    <button type="button" class="mb-2 btn btn-primary" (click)="onBack()">Back</button>

    <form>
        <label for="">Permissions</label>
        <select id="permission" class="form-control" name="permission" [(ngModel)]="userPermission.permission" (ngModelChange)="onPermissionChange($event)">
            <option value="" disabled selected>Select permissions for add</option>
            <option *ngFor="let permission of permissions" [ngValue]="permission">{{permission.id}} - {{permission.code}} - {{permission.description}}</option>    
          </select>
        <div class="form-group">
            <button type="button" class="mt-2 btn btn-primary" (click)="onSave(mode)" type="submit"
                [hidden]="mode==formMode.view">Save</button>
        </div>

    </form>
</div>